
    <div class="card shadow-lg" style="width: 18rem" *ngIf="property!=undefined">
      <div class="card-img-wrapper">
        <img class="card-img-top" src="assets/image/h1.jpg" alt="" srcset="" />
        <ul class="list-inline text-center member-icons">
          <li class="list-inline-item">
            <button class="btn btn-primary">E</button>
          </li>
          <li class="list-inline-item">
            <button class="btn btn-primary">C</button>
          </li>
        </ul>
      </div>      
      <div class="card-body">
        <h5 class="card-title">{{ property.Name }}</h5>
        <p class="card-text">{{ property.Type }}</p>
        <h1>{{ property.Price }}</h1>
      </div>
    </div>